<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="CategoryDao" class="com.store.dao.impl.CategoryDaoImpl"/>
	<bean id="ProductDao" class="com.store.dao.impl.ProductDaoImpl"/>
	<bean id="UserDao" class="com.store.dao.impl.UserDaoImpl"/>
	<bean id="CategoryService" class="com.store.service.impl.CategoryServiceImpl"/>
	<bean id="ProductService" class="com.store.service.impl.ProductServiceImpl"/>
	<bean id="UserService" class="com.store.service.impl.UserServiceImpl"/>
</beans>